*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    border: 1px solid black;
    float: left;
    width: 300px;
    background-color: aqua;
    color: white;
    height: 100px;

    text-align: center;
    line-height: 100px;
}

nav{
    border: 1px solid black;
    float: right;

}
li{
    float: left;
    list-style: none;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}
main{
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: blueviolet;
}
article{
    border: 1px solid red;
    float: left;
    width: 30%;
    height: 100px;
    text-align: center;
    background-color: beige;
    margin-left: 10px;
}
aside{
    float: left;
    width: 10%;
}
footer{
    text-align: center;
    background-color: brown;
    height: 100px;
    line-height: 100px;
}
.clearfix{
    clear:both;
}